body {
    display: block;
    background-color: #fbecde;
    box-shadow: 0px 5px white;
    padding: 0px0px 0px 0px;
    max-width: 960px;
    margin: auto;
    height: 100px;
}

main {
    min-height: 100vh;
    padding: 85px 24px 96px;
    box-shadow: 0 0 12px -2px black;
    background-color: #f8b59b;

}

* {
    box-sizing: border-box;
}

.topnav {
    background-color: #90d9d5;
    overflow: hidden;
}

.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ddd;
    color: black;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.book {
    width: 400px;
}